{% extends 'BootCRUDApp/base.html' %}

{% block title %}
{{title}}
{% endblock title %}
{% block subtitle %}
{{subtitle}}
{% endblock subtitle %}

{% block content %}
<h1>In the Display Page</h1>
<ul>
    <li>{{item.itm_name}}</li>
    <li>{{item.itm_description}}</li>
    <li>{{item.itm_price}}</li>
</ul>
{# add links to edit or delete #}
<a href="{% url 'edit' item.id %}">Edit Item</a>
<br/><a href="{% url 'delete' item.id %}">Delete Item </a>
<br/><a href="{% url 'list' %}">Go Home </a>

{% endblock content %}
